<p>template2 works!</p>
<form #userForm="ngForm" (ngSubmit)="onsubmit(userForm)">
    <label>Enter name</label><input type="text" name="username" [(ngModel)]="userModel.username" required />
    <br />
    <label>Enter bio</label><textarea name="bio" [(ngModel)]="userModel.bio"></textarea>
    <br />
    <label>select gender</label>
    Male<input type="radio" name="gender" [(ngModel)]="userModel.gender" value="male" />
    FeMale<input type="radio" name="gender" [(ngModel)]="userModel.gender" value="female" />
    <br />
    <label>Enter dob</label><input type="date" name="dob" [(ngModel)]="userModel.dob" />
    <br />
    <button type="submit" [disabled]="userForm.invalid">Submit</button>

</form>
{{res | json}}