<!--{{title}}
<app-postge1/>
<app-todos1/>
<app-template2/>
<app-reactive2/>
<app-template1/>
<app-reactive1/>
<app-squareeg/>
<app-switch/>
<app-iflese/>
<app-for1/>
<app-calculator2/>
<app-calculator/>
<app-child1></app-child1>
<app-child2></app-child2>
<app-text1/>
<app-pipeeg/>-->
<nav>
    <a routerLink="/">Square</a><br />
    <a routerLink="/post">Post</a><br />
    <a routerLink="/todos">Todos</a><br />
    <a routerLink="/text1">Text1</a><br />
    <a routerLink="/template1">Template1</a><br />
    <a routerLink="/template2">Template2</a><br />
    <a routerLink="/navigate1">Navigate1</a><br />
    <a routerLink="/navigate2/11?node=T1">Navigate2</a>
    <br /><a routerLink="/todostable">Todos Table</a>
    <br />
    <a routerLink="/chart">Chart</a>
    <br />
    <a routerLink="/parent">parent</a>
    <br />
    <a routerLink="/todos3">Todos</a>
</nav>

<router-outlet></router-outlet>